
.myname {
	padding: 20px;
  	text-align: center;
 	background: #979797;
 	color: #f3fe7e;
 	font-size: 30px; 
}

.title {
	padding: 20px;
 	 background: #979797;
 	 color: #f3fe7e;
 	 font-size: 25px;
}

.header {
  padding: 20px;
  text-align: center;
  background: #f3fe7e;
  color: #222831;
  font-size: 30px;
  opacity: 0.5;
}

.footer {
  padding: 20px;
  text-align: center;
  background: #979797;
  color: #f3fe7e;
  font-size: 40px;
}

.photo {
  background: #979797;
  align-content: center;
  text-align: center;
}

.header {
  padding: 20px;
  text-align: center;
  background: #f8fab8;
  color: #222831;
  font-size: 20px;
}

.table {
  padding: 20px;
  background: #f8fab8;
  color: #222831;
  font-size: 20px;
  border-width: 2px;
  border-color: #757575;
  align-items: center;
}

.about {
	padding 20px;
	text-align: center;
	background: #f3fe7e;
	color: #204051;
	font size: 20px;
	font-weight: normal;
	font-style: italic;
}

.title1 {
	padding: 20px;
	background: #f8fab8;
	color: #222831;
	font size: 15px;
}

table {
  border-collapse: collapse;
}

table, th, td {
  border: 1px solid black; 
  text-align: center;
}
td {
  height: 50px;
  vertical-align: center;
  width: 100%;
  text-align: center;
}
th {
  height: 50px;
  vertical-align: center;
  width: 55%;
  text-align: center;

.border {
	border: 10px;
	color: #204051;
	background: #f6f4e6
	
}
.text1 {background: #f6f4e6

}

.myname {
	padding: 20px;
  	text-align: center;
 	 background: #979797;
 	 color: #f3fe7e;
 	 font-size: 30px; 
}

.title {
	padding: 20px;
 	 background: #979797;
 	 color: #f3fe7e;
 	 font-size: 25px;
}

table align-items center

