

.header {
  padding: 20px;
  text-align: center;
  background: #f3fe7e;
  color: #222831;
  font-size: 30px;
  opacity: 0.5;
}

.title {
  padding: 20px;
  text-align: center;
  background: #757575;
  color: #f3fe7e;
  font-size: 40px;
}

.photo {
  background: white;
  align-content: center;
  border-right: 20%;
  border left: 20%;
}

.header {
  padding: 20px;
  text-align: center;
  background: #f8fab8;
  color: #222831;
  font-size: 30px;
}

.table {
  padding: 20px;
  background: #f8fab8;
  color: #222831;
  font-size: 20px;
  border-width: 2px;
  border-color: #757575;
}

.about {
	padding 20px;
	text-align: center;
	background: #f3fe7e;
	color: #204051;
	font size: 20px;
	font-weight: normal;
	font-style: italic;
}

.title1 {
	padding: 20px;
	background: #f8fab8;
	color: #222831;
	font size: 15px;
}







